body {
    font-family: "sora", sans-serif !important;
    font-size: 15px;
}

@font-face {
    font-family: 'jost-bold';
    src: url('./../font/Jost-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'sora';
    src: url('./../font/Sora-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'sora-bold';
    src: url('./../font/Sora-Bold.woff2') format('woff2');
    font-display: swap;
}

.jost-bold {
    font-family: 'jost-bold', sans-serif;
    font-weight: 700;
}

.sora {
    font-family: 'sora', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
input,
button,
label,
textarea {
    font-family: 'sora-bold', sans-serif;
}

.navy-blue {
    color: #041b34 !important;
}

.custom-btn-primary,
.custom-btn-secondary {
    font-size: 15px;
    font-weight: 600;
    padding: 15px 30px;
    transition: all .2s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    height: fit-content;
    width: fit-content;
    display: block;
}

.custom-btn-primary {
    background: #0056b3;
    color: #fff;
}

.custom-btn-primary:hover {
    transform: translateY(-6px);
    background: #ffc107;
    color: #000;
}

.custom-btn-secondary {
    background: #ffc107;
    color: #000;
}

.custom-btn-secondary:hover {
    transform: translateY(-6px);
    background: #0056b3;
    color: #fff;
}


.expert-team-section {
    position: relative;
    z-index: 1;
    margin-bottom: 24px;
}

.expert-team-container {
    margin-top: -80px;
    position: relative;
    background-color: #000;
    padding: 40px 21px;
}

.half-sec-bg {
    background: linear-gradient(rgba(246, 246, 246, 0.85), rgba(246, 246, 246, 0.85)), url('./../assets/bg_pattern.webp');
    background-position: center;
}

.section-title {
    color: #000;
    /* Dark blue for section titles */
    font-weight: 700;
    font-size: 40px;

}

.sec-bg {
    background: url('./../assets/ezgif.com-optijpeg-2.webp') center /cover no-repeat;
    position: relative;
    z-index: 1;
}

.sec-bg::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 78%);
    z-index: -1;
}

.offer-icon {
    color: #f3c527;
    font-size: clamp(36px, 4.5vw, 50px);
}

.offer-label {
    color: #000;
    font-size: 18px;
    font-family: 'jost-bold', sans-serif;
    margin-bottom: 0;
}

h2.why-section-title {
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 8px;
}

h4.reason-section-title {
    color: #fff;
    /* Dark blue for section titles */
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

p.description {
    font-family: 'sora', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: none;
    line-height: 1.7em;
    letter-spacing: 0px;
    color: #000;
}

.expert-team-section .border-right {
    border-right: 1px solid white;
}


/*  service Section styles */



.service-icon {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 20px;
}

/* contact-section styles */
.contact-section {
    padding: 60px 0;
}

.contact-description {
    color: #666;
    font-size: 13px;
    margin-bottom: 30px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 16px;
}

/* contact-section styles */

.contact-heading {
    font-size: 36px;
    font-weight: 700;
    margin: 10px 0 20px;
}


.contact-label {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #0071ce;
    margin-bottom: 2px;
}

.contact-text {
    font-size: 18px;
    font-weight: bold;
    color: #001033;
}

.icon-box {
    color: #000;
    font-size: 20px;
    padding: 7px;
    min-width: 50px;
    text-align: center;
    background-color: #F7BF23;
}

.icon-box:hover {
    background-color: #0056b3;
    color: white;
}

.Choose-label {
    font-weight: 700;
    font-size: 19px;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 2px;
    font-family: 'jost-bold', sans-serif !important;
}

.Choose-text {
    font-size: 12px;
    color: #FFF;
}

.service-card {
    margin-bottom: 20px;
}

.service-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 15px;
}

/*   .feature-list Section styles */
.feature-list {
    list-style-type: none;
    padding: 0;
}

.feature-list li {
    margin-bottom: 3px;
    position: relative;
    padding-left: 18px;
    color: #fff;
    font-size: 14px;
}


/* Gallerystyles */

.image-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    gap: 10px;
}

.img-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.img-item img:hover {
    transform: scale(1.02);
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lightbox-img {
    max-width: 90%;
    max-height: 80vh;
    margin-bottom: 20px;
    border-radius: 10px;
}

.lightbox .close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.lightbox .prev,
.lightbox .next {
    position: absolute;
    top: 50%;
    font-size: 40px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    user-select: none;
    transform: translateY(-50%);
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.center-paragraph {
    width: 50%;
    margin: 0 auto;
    /* This centers the block */
    text-align: center;
    color: #000;
}

/* testimonial-section style */
.testimonial-card {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    /* Soft shadow */
    padding: 30px 20px;
    position: relative;
    height: 100%;
    text-align: center;
}

.slider-item {
    margin: 10px;
}

.testimonial-card i.quote-icon {
    position: absolute;
    top: 0px;
    border-radius: 0px 0px 0px 89px;
    padding: 20px;
    right: 0px;
    background: #f5c225;
    font-size: 30px;
    color: #fff;
}

.testimonial-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto 10px;
    object-fit: cover;
}

.testimonial-rating {
    color: gold;
    margin: 10px 0;
}

.testimonial-name {
    color: #000;
    font-weight: 700;
    margin-bottom: 5px;
}

.testimonial-source {
    font-size: 15px;
    font-weight: 600;
    color: #00000080;
    margin-bottom: 10px;
}

.testimonial-text {
    font-size: 15px;
    line-height: 1.6;
    color: #000;
}

.testimonial-section-title {
    color: #000;
    font-size: 36px;
    font-weight: bold;
}

.section-subtitle {
    max-width: 700px;
    margin: 0 auto 40px;
    font-size: 15px;
    color: #000;
}

.sec-badge {
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.8em;
    letter-spacing: 0.3em;
    color: #F7BF23;
}

/* contact-form-section style */
h2.Areas-title {
    font-size: 28px;
    font-weight: 700;
}

.contact-container {
    background: #0E44806B;
    border-style: solid;
    border-width: 7px 0 0;
    border-color: #ffa400;
    box-shadow: 0px 0px 10px 0px #000;
    --e-column-margin-right: 0%;
    --e-column-margin-left: 10%;
    padding: 4% 0 5%;
    padding: 30px;
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 15px;
}

.form-row .form-group {
    flex: 1;
    margin-bottom: 0;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
    height: 120px;
    resize: vertical;
}

.error-message {
    color: #d9534f;
    font-size: 14px;
    margin-top: 5px;
}

.submit-btn {
    background-color: #0072ee;
    color: #ffa400;
    border-color: #ffa400;
    padding: 8px 3px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #ffa400;
    color: #000;
}

.brand-name {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #333;
    font-size: 18px;
}

/* Why Choose Us section heading styles */
#why-choose-us h2 {
    color: #0056b3;
    /* Dark blue for section title */
    text-align: center;
    margin-bottom: 40px;
}

#why-choose-us h3 {
    color: #333333;
    /* Dark gray for feature titles */
    margin-top: 15px;
    margin-bottom: 15px;
}

.fa-2x {
    color: #ffc107;
}


.activate-windows {
    color: #888;
    font-size: 0.9em;
    margin-top: 30px;
}

.areas-section {
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
    color: white;
}

.area-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.area-list li {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 17px;
    display: flex;
    align-items: center;
}

.area-list li::before {
    content: "✓";
    margin-right: 8px;
    font-weight: 700;
    color: #0d6efd;
}

.section-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 77%);
    z-index: 1;
    transition: background-color 0.3s ease;
}

.icon-img {
    width: 40px;
    height: 40px;
}

.title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
}

.desc {
    font-size: 13px;
    color: #333;
    margin-bottom: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 11px;
    box-sizing: border-box;
}

textarea {
    font-size: 12px !important;
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1100px !important;
    }
}

@media (max-width:992px) {
    .expert-team-container {
        margin-top: 16px;
    }

    .expert-team-section .border-right {
        border: none;
    }

    .image-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 767px) {

    .section-title {
        text-align: center;
        font-size: 23px;
    }

    h2.why-section-title {
        font-size: 14px;
        text-align: center;
    }

    h4.reason-section-title {
        font-size: 23px;
        text-align: center;
    }

    .image-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-heading {
        font-size: 23px;
        text-align: center;
    }
}

@media (max-width:576px) {
    .image-gallery {
        grid-template-columns: 1fr;
    }

    .custom-btn-primary,
    .custom-btn-secondary {
        padding: 9px 18px;
    }
}

@media (max-width: 480px) {
    .form-row {
        flex-direction: column;
        gap: 20px;
    }
}